.call_to_action {
    padding: 1.5rem;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
        background: $dark-violet;
        padding: 3rem 1rem;
        position: relative;

        h2 {
            font-size: 2rem;
            color: #fff;
            font-weight: 400;
            z-index: 1;
        }

        button {
            border: .1rem solid #fff;
            background: transparent;
            color: #fff;
            font-weight: 700;
            padding: .5rem 1rem;
        }

        .work_desktop {
            display: none;
        }

        .work_mobile {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .call_to_action {
        padding: 2rem 8rem;

        section {
            flex-direction: row;
            justify-content: space-evenly;
            text-align: start;
            padding: 4rem 5rem;

            h2 {
                font-size: 2.75rem;
            }

            .work_mobile {
                display: none;
            }

            .work_desktop {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
            }

            button:hover {
                z-index: 1;
                background: #fff;
                color: $very-dark-violet;
                transition: 0.2s ease;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    h2 {
        width: 50%;
    }
}