@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');
$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);
$very-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    font-family: Karla, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: DM Serif Display, sans-serif;
}

img {
    max-width: 100%;
}

.ns {
    user-select: none;
    pointer-events: none;
}

p {
    line-height: 1.5;
}