@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: Karla, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: DM Serif Display, sans-serif;
}

img {
  max-width: 100%;
}

@media screen and (max-width: 1023px) {
  header {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  header button {
    border: none;
    background: transparent;
    z-index: 99;
  }
  nav {
    width: 100%;
  }
  nav .nav-ul {
    list-style-type: none;
    position: absolute;
    left: -999%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    background: hsl(270deg, 9%, 17%) url("../images/bg-pattern-mobile-nav.svg") no-repeat 100%;
    background-size: 100%;
    background-position: 0 100%;
    height: 100vh;
    z-index: 2;
  }
  nav .nav-ul a {
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
  }
  nav .nav-ul a.plans {
    border: 0.15rem solid #fff;
    padding: 0.5rem 5rem;
  }
  nav .nav-ul.show {
    top: 0;
    transition: 0.3s ease;
    right: 0;
    left: 0;
  }
}
@media screen and (min-width: 1024px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
  }
  header .hamburger {
    display: none;
  }
  header .nav-ul {
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
  }
  header .nav-ul a {
    text-decoration: none;
    color: #5A565D;
    font-weight: 700;
  }
  header .nav-ul a:hover {
    color: hsl(270deg, 9%, 17%);
    transition: 0.2s ease;
    text-decoration: underline;
  }
  header .nav-ul a.plans {
    border: 0.15rem solid hsl(270deg, 9%, 17%);
    padding: 0.5rem 1rem;
    color: hsl(256deg, 26%, 20%);
  }
  header .nav-ul a.plans:hover {
    background: hsl(270deg, 9%, 17%);
    color: #fff;
    transition: 0.2s ease;
  }
}
@media screen and (max-width: 1023px) {
  .intro_desktop, .intro_left_desktop, .intro_right_desktop {
    display: none;
  }
  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    background: hsl(256deg, 26%, 20%);
  }
  .main .text_container {
    text-align: center;
    padding: 5rem 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0.5rem;
  }
  .main .text_container h1 {
    color: #fff;
    font-weight: 400;
  }
  .main .text_container p {
    color: #fff;
  }
  .main .text_container button {
    background: transparent;
    border: 0.1rem solid #fff;
    color: #fff;
    padding: 0.5rem 0.75rem;
    width: 50%;
    margin: 1rem auto 0 auto;
    font-weight: 700;
  }
  .main .intro_left_mobile {
    position: absolute;
    left: 0;
    top: -0.25rem;
  }
  .main .intro_right_mobile {
    position: absolute;
    right: 0;
    bottom: -11rem;
  }
  .main .image_container {
    z-index: 1;
  }
  .main .image_container img {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .intro_mobile, .intro_left_mobile, .intro_right_mobile {
    display: none;
  }
  .main {
    display: flex;
    flex-direction: row-reverse;
    background: hsl(256deg, 26%, 20%);
    position: relative;
    padding: 0 8rem;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }
  .main .text_container {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .main .text_container h1 {
    color: #fff;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1;
  }
  .main .text_container h1 span {
    border-top: 1px solid #fff;
    padding-top: 2rem;
  }
  .main .text_container p {
    color: #fff;
  }
  .main .text_container button {
    background: transparent;
    border: 0.1rem solid #fff;
    font-weight: 700;
    color: #fff;
    padding: 0.5rem 1rem;
    width: 10rem;
  }
  .main .text_container button:hover {
    background: #fff;
    color: hsl(270deg, 9%, 17%);
    transition: 0.2s ease;
  }
  .main .image_container {
    position: relative;
    top: 5.75rem;
  }
  .main .image_container img {
    width: 100%;
  }
  .main .intro_left_desktop {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 21.25rem;
  }
  .main .intro_right_desktop {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
  }
}
@media screen and (min-width: 1440px) {
  .main .text_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .main .text_container h1 {
    color: #fff;
    font-weight: 400;
    font-size: 5rem;
  }
  .main .text_container p {
    color: #fff;
  }
  .main .text_container button {
    background: transparent;
    border: 0.1rem solid #fff;
    font-weight: 700;
    color: #fff;
    padding: 0.5rem 1rem;
    width: 10rem;
  }
  .main .image_container {
    top: 10rem;
  }
  .main .image_container img {
    width: 100%;
  }
  .main .intro_left_desktop {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 30.25rem;
  }
}
@media screen and (max-width: 1023px) {
  .were_different {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 5rem 1.5rem;
  }
  .were_different hr {
    color: hsl(273deg, 4%, 51%);
    width: 40%;
  }
  .were_different h2, .were_different h3 {
    color: hsl(270deg, 9%, 17%);
  }
  .were_different h2 {
    font-size: 2rem;
  }
  .were_different .sections_flex_container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .were_different .subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  .were_different .subsection p {
    color: hsl(273deg, 4%, 51%);
  }
}
@media screen and (min-width: 1024px) {
  .were_different {
    margin: 11rem 0;
    padding: 2rem 8rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .were_different hr {
    width: 10rem;
  }
  .were_different h2 {
    font-size: 4rem;
    color: hsl(270deg, 9%, 17%);
  }
  .were_different .sections_flex_container {
    display: flex;
    justify-content: space-between;
  }
  .were_different .sections_flex_container .subsection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: flex-start;
    gap: 1rem;
    width: 31%;
  }
  .were_different .sections_flex_container .subsection h3 {
    color: hsl(270deg, 9%, 17%);
  }
  .were_different .sections_flex_container .subsection p {
    color: hsl(273deg, 4%, 51%);
  }
}
@media screen and (min-width: 1440px) {
  .subsection p {
    font-size: 1.1rem;
    width: 80%;
  }
}
.call_to_action {
  padding: 1.5rem;
}
.call_to_action section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  background: hsl(256deg, 26%, 20%);
  padding: 3rem 1rem;
  position: relative;
}
.call_to_action section h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
  z-index: 1;
}
.call_to_action section button {
  border: 0.1rem solid #fff;
  background: transparent;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 1rem;
}
.call_to_action section .work_desktop {
  display: none;
}
.call_to_action section .work_mobile {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .call_to_action {
    padding: 2rem 8rem;
  }
  .call_to_action section {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: start;
    padding: 4rem 5rem;
  }
  .call_to_action section h2 {
    font-size: 2.75rem;
  }
  .call_to_action section .work_mobile {
    display: none;
  }
  .call_to_action section .work_desktop {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  .call_to_action section button:hover {
    z-index: 1;
    background: #fff;
    color: hsl(270deg, 9%, 17%);
    transition: 0.2s ease;
  }
}
@media screen and (min-width: 1440px) {
  h2 {
    width: 50%;
  }
}
@media screen and (max-width: 1023px) {
  footer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0 4rem 0;
    background: hsl(0deg, 0%, 98%);
  }
  footer .footer_mobile {
    position: absolute;
    top: 0;
    z-index: 0;
    height: auto;
  }
  footer .footer_desktop {
    display: none;
  }
  footer .logo_socials_wrapper {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  footer .logo_socials_wrapper ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
  }
  footer hr {
    width: 90%;
    margin: auto;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  nav .links {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    text-align: center;
  }
  nav .links h4 {
    font-size: 1rem;
    font-family: Karla, sans-serif;
    color: hsl(273deg, 4%, 51%);
  }
  nav .links ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  nav .links ul a {
    text-decoration: none;
    color: hsl(256deg, 26%, 20%);
    font-weight: 700;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 8rem;
    background: hsl(0deg, 0%, 98%);
  }
  footer .footer_mobile {
    display: none;
  }
  footer .footer_desktop {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  footer .logo_socials_wrapper {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .logo_socials_wrapper ul {
    list-style-type: none;
    display: flex;
    gap: 0.75rem;
  }
  footer .logo_socials_wrapper .socials svg {
    fill: #837D88;
    cursor: pointer;
  }
  footer .logo_socials_wrapper .socials svg:hover {
    fill: hsl(270deg, 9%, 17%);
    transition: 0.2s ease;
  }
  footer nav {
    display: flex;
    gap: 5rem;
    z-index: 1;
  }
  footer nav .links {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  footer nav .links h4 {
    font-size: 1rem;
    font-family: Karla, sans-serif;
    color: hsl(273deg, 4%, 51%);
  }
  footer nav .links ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  footer nav .links ul a {
    text-decoration: none;
    color: hsl(256deg, 26%, 20%);
    font-weight: 700;
  }
  footer nav .links ul a:hover {
    text-decoration: underline;
  }
}/*# sourceMappingURL=style.css.map */